@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h3>Consumindo api MeepProducts</h3>
    <img src="~/imagens/logo (2).png" asp-append-version="true" />
</div>
