@model MeepProductsMvc.Models.ProdutosOmieTeste

<h2>Criar um Produto</h2>

<form asp-action="CriarProduto">
    <div class="form-horizontal">
        <hr />
        
        @* <div class="form-group">
            <label asp-for="Call" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Call" class="form-control" />
                <span asp-validation-for="Call" class="text-danger"></span>
            </div>
        <div class="form-group">
                <label asp-for="App_key" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                    <input asp-for="App_key" class="form-control" />
                    <span asp-validation-for="App_key" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
                <label asp-for="App_secret" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                    <input asp-for="App_secret" class="form-control" />
                    <span asp-validation-for="App_secret" class="text-danger"></span>
            </div>
        </div>
        *@
        <div class="form-group">
                <label asp-for="Param.Codigo_produto_integracao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                    <input asp-for="Param.Codigo_produto_integracao" class="form-control" />
                    <span asp-validation-for="Param.Codigo_produto_integracao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Param.Codigo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                    <input asp-for="Param.Codigo" class="form-control" />
                    <span asp-validation-for="Param.Codigo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Param.Descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                    <input asp-for="Param.Descricao" class="form-control" />
                    <span asp-validation-for="Param.Descricao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Param.Unidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                    <input asp-for="Param.Unidade" class="form-control" />
                    <span asp-validation-for="Param.Unidade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Param.Ncm" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                    <input asp-for="Param.Ncm" class="form-control" />
                    <span asp-validation-for="Param.Ncm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Param.Valor_unitario" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Param.Valor_unitario" class="form-control" />
                    <span asp-validation-for="Param.Valor_unitario" class="text-danger"></span>
                </div>
        </div>
        
        <div class="form-group" style="padding-top: 10px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-success" />
                Retornar
            </div>
        </div>
    </div>
    
    @if (@ViewBag.Erro != null)
    {
        <div style="color:red">
            <h4>@ViewBag.Erro</h4>
        </div>
    }
</form>